@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0px;
}

.card img{
    width: 100%;
    border-radius: 12px;
    height: 214px ;

    object-fit: cover;

}

#container{
    max-width: 300px;
    background-color: white;
    margin-top: 20vh;
    float: left;
    margin-right: 4vh;

}

.card{
    background-color: white;
    padding: 8px;


    border-radius: 12px;
    border: 1px solid #BACDDB;
}
 
.name{
    font-size: 24px;
    font-weight: 600;

    margin-top: 16px;
}

p{
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

button{
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: green;
    background-color: #adeaa5;

    margin: 0 auto;
    display: block;

    transition: all 200ms ease-in-out;
    cursor: pointer;
}

button:focus, button:hover{
    background-color: green;
    color: #adeaa5;
}

.card_details{
    padding: 16px 8px 8px 8px;
} 